<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Flights</title>
</head>
<body>
    <div>
        <h3>Remove Flights</h3>
        <!-- Remove flights form -->
        <form action="/admin/removeflight" method="POST">
            <label for="flight_number">Flight Number:</label>
            <input type="text" id="flight_number" name="flight_number" required>
            <input type="submit" value="Remove Flight">
        </form>
    </div>

</body>
</html>