<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bookings</title>
</head>
<body>
    <h2>My Bookings</h2>
    <table>
        <tr>
            <th>Booking ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Flight ID</th>
            <th>Flight Number</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking[0] }}</td>
            <td>{{ booking[1] }}</td>
            <td>{{ booking[2] }}</td>
            <td>{{ booking[3] }}</td>
            <td>{{ booking[4] }}</td>
            <td>{{ booking[5] }}</td>
            <td>{{ booking[6] }}</td>
            <td>{{ booking[7] }}</td>
            <td>
                <form action="/user/cancelticket/{{ booking[0] }}" method="POST">  <!-- Form for canceling ticket -->
                    <button type="submit">Cancel</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/user/home">Home</a>


</body>
</html>